.movieCard {
    display: flex;
    flex-direction: column;

    .movieInfo {
        display: flex;
        flex-direction: row;

        .movieImage {
            display: flex;
            flex-direction: column;
            height: 300px;
            width: 200px;
        }

        .movieNameDescription {
            display: flex;
            flex-direction: column
        }
    }
    .movieShowtimes{
        display: flex;
        flex-direction: row;

        .showTimes {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            .showTime{
                display: flex;
                flex-direction: column;
                padding: 5px 10px;
            }
        }

    }
}