.movieCard {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 600px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  padding: 10px;

  .movieInfo {
    display: flex;
    flex-direction: row;
    gap: 20px;

    .movieImage {
      display: flex;
      flex-direction: column;

      img {
        height: 300px;
        width: 200px;
      }
    }

    .movieNameDescription {
      display: flex;
      flex-direction: column;
      .movieName {
        text-transform: uppercase;
      }
    }
  }
  .movieShowtimes {
    display: flex;
    flex-direction: row;

    .showTimesCol {
      display: flex;
      flex-direction: column;

      .ShowingTimesHeader {
        display: flex;
        flex-direction: row;
      }

      .showTimes {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        .showTime {
          display: flex;
          flex-direction: column;
          padding: 5px 10px;
          background-color: lightgrey;

          a {
            text-decoration: none;
            color: black;
            text-transform: lowercase;
          }
        }
      }
    }
  }
}
